<div >
  <div class="row">
    <div class="example-container col">
      <h2>Active</h2>

      <div>
        <div class="form" *ngFor="let data of storyActive; index as i">
          <mat-card class="card">
            <mat-icon (click)="data.acordion=!data.acordion">keyboard_arrow_down</mat-icon>
            <mat-card-title >{{ data.name }}</mat-card-title>
            <mat-card-content>
              <div class="container" [ngClass]="{'display-none':!data.acordion}">
                <mat-card-actions>
                  <mat-icon color="primary" (click)="deleteStory(data) "
                      >delete</mat-icon
                    >
                </mat-card-actions>
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <select
                    matNativeControl
                    required
                    [(ngModel)]="userStoryStatus[i]"
                  >
                    <option value="active">Active</option>
                    <option value="resolved">Resolved</option>
                    <option value="verified QA">Verified QA</option>
                    <option value="ready for PO">Ready for PO</option>
                    <option value="closed">Closed</option>
                  </select>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Description"
                    required
                    disabled
                  />{{ data.description }}
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    placeholder="Description"
                    required
                    disabled
                  />{{ data.userEmail }}
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Register Bugs" required [(ngModel)]="userStoryBugs[i]"/>{{
                    data.bugs
                  }}
                </mat-form-field>
                <mat-card-actions>
                  <button
                    (click)="
                      updateStory(data, i, 'active')
                    "
                    class="button"
                    mat-raised-button
                  >
                    Update
                  </button>
                </mat-card-actions>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    
  
  <div class="example-container col">
    <h2>Verified QA</h2>

    <div>
      <div class="form" *ngFor="let data of storyVerifiedQa;index as i">
          <mat-card class="card">
            <mat-icon (click)="data.acordion=!data.acordion">keyboard_arrow_down</mat-icon>
            <mat-card-title >{{ data.name }}</mat-card-title>
            <mat-card-content>
              <div class="container" [ngClass]="{'display-none':!data.acordion}">
                <mat-card-actions>
                  <mat-icon color="primary" (click)="deleteStory(data) "
                      >delete</mat-icon
                    >
                </mat-card-actions>
                <mat-form-field appearance="fill">
                  <mat-label>User</mat-label>
                  <select matNativeControl required disabled>
                    <option
                      *ngFor="let item of userData"
                      value="{{ item.email }}"
                    >
                      <b>
                        {{ item.email }}
                      </b>
                    </option>
                  </select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <select
                    matNativeControl
                    required
                    [(ngModel)]="userStoryStatus[i]"
                  >
                    <option value="active">Active</option>
                    <option value="resolved">Resolved</option>
                    <option value="verified QA">Verified QA</option>
                    <option value="ready for PO">Ready for PO</option>
                    <option value="closed">Closed</option>
                  </select>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Description"
                    required
                    disabled
                  />{{ data.description }}
                </mat-form-field>
                
                <mat-form-field>
                  <textarea matInput placeholder="Register Bugs" required [(ngModel)]="userStoryBugs[i]">{{
                    data.bugs
                  }}</textarea>
                </mat-form-field>
                <mat-card-actions>
                  <button
                    (click)="
                      updateStory(data, i, 'verified QA')
                    "
                    class="button"
                    mat-raised-button
                  >
                    Update
                  </button>
                </mat-card-actions>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>

  <div class="example-container col">
    <h2>Ready for PO</h2>

    <div>
    <div class="form" *ngFor="let data of storyReadyForPo;index as i">
      <mat-card class="card">
        <mat-icon (click)="data.acordion=!data.acordion">keyboard_arrow_down</mat-icon>
        <mat-card-title >{{ data.name }}</mat-card-title>
        <mat-card-content>
          <div class="container" [ngClass]="{'display-none':!data.acordion}">
            <mat-card-actions>
              <mat-icon color="primary" (click)="deleteStory(data) "
                  >delete</mat-icon
                >
            </mat-card-actions>
            <mat-form-field appearance="fill">
              <mat-label>User</mat-label>
              <select matNativeControl required disabled>
                <option
                  *ngFor="let item of userData"
                  value="{{ item.email }}"
                >
                  <b>
                    {{ item.email }}
                  </b>
                </option>
              </select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <select
                matNativeControl
                required
                [(ngModel)]="userStoryStatus[i]"
              >
                <option value="active">Active</option>
                <option value="resolved">Resolved</option>
                <option value="verified QA">Verified QA</option>
                <option value="ready for PO">Ready for PO</option>
                <option value="closed">Closed</option>
              </select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Description"
                required
                disabled
              />{{ data.description }}
            </mat-form-field>
            
            <mat-form-field>
              <textarea matInput placeholder="Register Bugs" required [(ngModel)]="userStoryBugs[i]">{{
                data.bugs
              }}</textarea>
            </mat-form-field>
            <mat-card-actions>
              <button
                (click)="
                  updateStory(data, i, 'ready for PO')
                "
                class="button"
                mat-raised-button
              >
                Update
              </button>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </div>

  <div class="example-container col">
    <h2>Resolved</h2>

    <div>
    <div class="form" *ngFor="let data of storyResolved;index as i">
      <mat-card class="card">
        <mat-icon (click)="data.acordion=!data.acordion">keyboard_arrow_down</mat-icon>
        <mat-card-title >{{ data.name }}</mat-card-title>
        <mat-card-content>
          <div class="container" [ngClass]="{'display-none':!data.acordion}">
            <mat-card-actions>
              <mat-icon color="primary" (click)="deleteStory(data) "
                  >delete</mat-icon
                >
            </mat-card-actions>
            <mat-form-field appearance="fill">
              <mat-label>User</mat-label>
              <select matNativeControl required disabled>
                <option
                  *ngFor="let item of userData"
                  value="{{ item.email }}"
                >
                  <b>
                    {{ item.email }}
                  </b>
                </option>
              </select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <select
                matNativeControl
                required
                [(ngModel)]="userStoryStatus[i]"
              >
                <option value="active">Active</option>
                <option value="resolved">Resolved</option>
                <option value="verified QA">Verified QA</option>
                <option value="ready for PO">Ready for PO</option>
                <option value="closed">Closed</option>
              </select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Description"
                required
                disabled
              />{{ data.description }}
            </mat-form-field>
            
            <mat-form-field>
              <textarea matInput placeholder="Register Bugs" required [(ngModel)]="userStoryBugs[i]" ></textarea>
            </mat-form-field>
            <mat-card-actions>
              <button
                (click)="
                updateStory(data, i, 'resolved')
                "
                class="button"
                mat-raised-button
              >
                Update
              </button>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </div>
</div>
</div>
