<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>MindCorp</title>
    <link
      href="https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./landing.component.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <h1>
        <img src="../../../assets/Mi proyecto (1).png" alt="Mind Logo" />
      </h1>
    </header>

    <!-- NAVIGATION -->
    <nav class="navbar">
      <a button href="login">Login</a>
    </nav>

    <section class="content who">
      <h2 class="title">About Us</h2>
      <p>
        MINDCORP está conformada por ingenieros que vieron la necesidad de
        suplir algunas ideas y orden de trabajo de las compañías y empresas. Su
        pasión y entrega por la tecnología hacen que sus ideas mejoren sean
        productivos y las empresas nos vean como un aliado estratégico a la hora
        de planear sus labores y proyectos.
      </p>
    </section>

    <section class="content services">
      <h2 class="title">Descripción</h2>
      <p>
        Es una herramienta multifuncional destinada para empresas que permite,
        planes, diseños, proyectos y flujo de trabajo organizado y eficiente.
        Adicional a ellos, permite al equipo hablar un mismo idioma,ver avances
        de proyectos, definir tareas diarias y aplicar métodos que permiten un
        trabajo en equipo y ayuda entre todos.
      </p>
    </section>

    <section class="content tarifas">
      <article class="contain">
        <h2 class="title">Por qué utilizar nuestro tablero</h2>
        <p>
          Las tareas repetitivas de las compañías hacen que sus procesos se
          alarguen y que no se genere rendimiento. MINDCORP llega a suplir esa
          necesidad para que el orden en los trabajos sea mejor y se incremente
          el uso tecnológico de las empresas.Adicional a ello MINDCORP logra
          captar las necesidades diversas de la compañía y su sector económico y
          áreas de las mismas tales como Administrativos, ventas y de
          producción, metodologías agiles (scrum) entre otros.Llegamos con una
          propuesta diferente donde nuestros valores agregados captarán las
          compañías,y a su vez haremos que nuestro mayor objetivo seaagradar a
          nuestros clientes. Permitiendo feedback y sugerencias para poder
          evaluar y mejorar nuestra herramienta.
        </p>
        <a href="signUp" class="btn">Register</a>
      </article>
    </section>

    <section class="content localization">
      <h2 class="title">Localización</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quas
        molestias quibusdam cum corrupti deserunt, explicabo ipsam id, itaque
        iste!
      </p>
      <figure class="map">
        <img src="images/dummy-mapa.jpg" alt="" />
      </figure>
    </section>
  </body>
</html>
